<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Groove-cs329eProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE13117E1E7102DC00AE44C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1311951E7102DC00AE44C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1311A01E7102DC00AE44C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
